body {
    overflow: hidden;
    display: grid;
    grid-template-areas: "nav""main";
    grid-template-rows: 48px auto;
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    background-color: rgb(230, 230, 230);
}

main {
    height: calc(100vh - 48px);
    width: 100vw;
    grid-area: main;
    overflow-y: auto;
    display: grid;
    grid-template-areas: "main-content""footer";
    grid-template-rows: auto 114px;
}

.nav-mid {
    display: none;
}

@media only screen and (min-width: 768px) {
    .nav-mid {
        display: block;
        height: 47px;
        background-color: #232f3e;
        padding-top: 6px;
    }
    main {
        grid-template-rows: auto 48px;
    }
}